{% extends 'home_page.html' %}

{% block style %}
<style>
  
  
</style>
{% endblock %}

<body>
  {% block content %}
    <div class="container">
    <div class="col-md-offset-4 col-md-5" style="margin-top: 7%;">
      <h1 class="page-header " style="color: rgb(255, 255, 255);">{{ admin_details.name| upper }}</h1>
      <a class="btn btn-primary" href="{{ url_for('add_user') }}" style="margin-right: 10px; font-size: 20px;">Update Users</a>
      <a class="btn btn-primary" href="{{ url_for('view_vote') }}" style="margin-right: 10px;font-size: 20px;">View Votes</a>
      <a class="btn btn-danger" href="{{ url_for('logout') }}" style="font-size: 20px;">Log Out</a>
    </div>  
        
    </div>
  {% endblock %}
</body>
