{% extends 'home_page.html' %}

{% block style %}
<style>
    h1 {
        margin-left: 10%;
        color: #333; /* Darker text for better readability */
    }
    .button {
        margin-left: 5%; /* Space from the left */
        margin-top: 10px; /* Space between buttons */
    }
</style>
{% endblock %}

<body>
  {% block content %}
    <div class="container">
        <h1>Welcome {{ admin_details.name }}:</h1>
        <hr>
        <a class="btn btn-primary button" href="{{ url_for('add_user') }}">Update Users</a>
        <a class="btn btn-danger button" href="{{ url_for('logout') }}">Log Out</a>
    </div>
  {% endblock %}
</body>
