{% extends 'home_page.html' %}
{% block style %}
<style>
    form {
        padding-top: 25%;
        color: white;
    }
</style>
{% endblock %}
<body>
{% block content %}
<div class="container" style="margin-top:5%;">
    <div class="col-md-offset-3 col-md-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      <div id="back">
        <form action="{{ url_for('login') }}" method="POST" autocomplete="off">
            <h1 style="color:white;" class="page-header">Log In</h1>
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" required aria-label="Password">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" required aria-label="Email">
            </div>
            <div class="form-group">
                <input class="form-control btn btn-primary" type="submit" value="Log In">
            </div>
        </form>
      </div>  
       
    </div>
</div>
<style>
    #back{
        background: linear-gradient(rgb(236, 190, 241),rgb(138, 100, 135));
        padding: 20px;
        border-radius: 10px;
    }
</style>
{% endblock %}
</body>
