{% extends 'home_page.html' %}

{% block style %}
<style>
    .form-container {
        margin-left: 10%;

        width: 20%;
    }

    .form-control {
        width: 10%;
    }

</style>
{% endblock %}

<body>


   <div class="form-container">
    {% block content %}
   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         {% for category, message in messages %}
           <div class="alert alert-{{ category }}">{{ message }}</div>
         {% endfor %}
      {% endif %}
   {% endwith %}
     <div class="col-md-offset-4 col-md-4" style="margin-top: 10%;">
       <form action="\vote" method="POST" autocomplete="off">
           <div class="form-group">
               <label for="voter_id" style="color:white;">Your ID:</label>
               <input class="form-control" type="text" name="voter_id" id="voter_id" required placeholder="Your ID" style="height: 50px;">
           </div>
           <div class="form-group">
               <input class="form-control btn btn-primary vote-button" type="submit" name="name" value="Python" style="font-size: 20px;">
           </div>
           <div class="form-group">
               <input class="form-control btn btn-primary vote-button" type="submit" name="name" value="Java" style="font-size: 20px;">
           </div>
           <div class="form-group">
               <input class="form-control btn btn-primary vote-button" type="submit" name="name" value="JavaScript" style="font-size: 20px;">
           </div>
       </form>
     </div>
   </div>
{% endblock %}
</body>
